* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    padding: 8px;
}
ul {
    list-style: none;
}
/* ---------- */
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.menu a {
    text-transform: uppercase;
    color: #3A3838;
    font-weight: 700;
    font-size: 18px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 28px 0;
}
nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.logo img {
    max-width: 150px;
}
.menu a:hover {
    color:#EF4423;
    transition: 0.3s;
}
.midimg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.header .content {
    width: 100%;
}
/* ---------- */
.preview {
    display: flex;
}
.preview .card {
    width: 25%;
    display: flex;
    flex-direction: column;
}
.preview img {
    width: 100%;
    flex-grow: 1;
    object-fit: cover;
}
.color1 {
    background: #B71C1C;
    padding-bottom: 15px;
}
.color1 img {
    margin-bottom: 8px;
}
.color2 {
    background: #6A1B9A;
    padding-top: 15px;
}
.color2 img {
    margin-top: 8px;
}
.color3 {
    background: #303F9F;
    padding-bottom: 15px;
}
.color3 img {
    margin-bottom: 8px;
}
.color4 {
    background: #00695C;
    padding-top: 15px;
}
.color4 img {
    margin-top: 8px;
}
.preview .desc {
    color: #EBEBEB;
    font-size: 16px;
    padding: 0 15px;
}
.preview .title {
    color: #FFF;
    font-size: 19px;
    padding: 0 15px;
    margin-bottom: 8px;
}
/* ---------- */
.news .content{
    background: #EDEDED;
    margin-bottom: 50px;
}
.middletext {
    color: #3A3838;
    font-size: 22px;
    text-align: center;
    margin: 40px 0;
}
.news img {
    max-width: 555px;
    width: 100%;
    margin-left: -15px;
}
.news .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.news .box {
    max-width: 540px;
    width: 100%;
}
.news .title {
    color: #3A3838;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.news .desc {
    color: #686868;
    font-size: 18px;
}
/* ---------- */
.footer {
    background: #3A3838;
}
.footer a {
    color: #FFF;
}
/* ------------- */